@import '~bootstrap/scss/bootstrap.scss';
@import './variables.scss';
@import './mixins.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

ul {
    list-style: unset;
}

a {
    text-decoration: unset;
    color: unset;

    &:hover {
        text-decoration: unset;
        color: unset;
    }
}

.btn_type_1 {
    padding: 7px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: $btn-1-color;
    background-color: $btn-1-bg-color;
    @include transition-type-1(color);
    @include transition-type-1(background-color);

    &:hover {
        color: $btn-1-color;
        background-color: $btn-1-bg-color-hover;
    }
}