@import '~bootstrap/scss/bootstrap.scss';
@import './variables.scss';
@import './mixins.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        text-decoration: unset;
        color: unset;
    }
}

.btn_type_1 {
    @include button-layout-1($btn-1-color, $btn-1-bg-color, $btn-1-color, $btn-1-bg-color-hover);
    @include transition-type-1(color);
    @include transition-type-1(background-color);
}

.btn_type_2 {
    @include button-layout-2($btn-1-color, $btn-1-bg-color, $btn-1-color, $btn-1-bg-color-hover);
    @include transition-type-1(color);
    @include transition-type-1(background-color);
}

.btn_type_3 {
    @include button-layout-2($btn-2-color, $btn-2-bg-color, $btn-2-color-hover, $btn-2-bg-color-hover);
    @include transition-type-1(color);
    @include transition-type-1(background-color);
}