// Font Family
@import '~@fontsource/roboto/index.css';
@import '~@fontsource/roboto/700.css';
@import '~@fontsource/caveat/index.css';
@import '~@fontsource/caveat/700.css';
$base-font: 'Roboto';
$title-font: 'Caveat';

// Text Colors
$base-color: #797979;
$logo-color: #374a5e;
$link-color: #1b1b1b;
$social-color: #797979;
$invisible-color: #00000000;

// Background Colors
$bg-countdown: #F5F5F5;
$bg-jumbotron: #FBF9F6;

// Button Colors
$btn-1-color: #ffffff;
$btn-1-bg-color: #EF6F31;
$btn-1-bg-color-hover: #6AC5F1;