// Font Family
@import '~@fontsource/roboto/index.css';
@import '~@fontsource/roboto/700.css';
@import '~@fontsource/caveat/index.css';
$base-font: 'Roboto';
$title-font: 'Caveat';

// Text Colors
$base-color: #797979;
$logo-color: #374a5e;
$link-color: #1B1B1B;
$sub-title-color: #333333;
$social-color: #797979;
$invisible-color: #00000000;
$title-color: #76CAF2;
$ashtag-color: #EF6F31;

// Background Colors
$bg-countdown: #F5F5F5;
$bg-jumbotron: #FBF9F6;
$bg-testimonials: #FAF8F6;

// Button Colors
$btn-1-color: #FFFFFF;
$btn-1-bg-color: #EF6F31;
$btn-1-bg-color-hover: #6AC5F1;

$btn-2-color: #F0824C;
$btn-2-bg-color: #FDF0EA;
$btn-2-color-hover: #FFFFFF;
$btn-2-bg-color-hover: #F0824C;